.open-bracket,
.close-bracket {
    font-size: 40px;
    font-family: monospace;
    fill: #ff9800;
    transition: fill 0.3s;
}

.coderhub {
    font-size: 25px;
    fill: #222;
    transition: fill 0.3s, opacity 0.4s ease;
}

.dotrun {
    font-size: 25px;
    fill: #ff9800;
    transition: fill 0.3s, opacity 0.4s ease;
}

.reveal-char {
    opacity: 0;
}

.reveal-char.visible {
    opacity: 1;
}

body.theme-dark .open-bracket,
body.theme-dark .close-bracket,
body.theme-dark .dotrun {
    fill: #ffa31a;
}

body.theme-dark .coderhub {
    fill: #fff;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}